footer {
        text-align: center;
        color: #FFFFFF80;
        background-color: #343A40;
        padding: 40px;
        height: 150px;
}
.center {
        text-align:center;
}

.text   {
        font-size: 30px;
}

.color {
        background-color: #b8cde2;
}

.contactpic {
        height: 180px;
}

.selfpic {
        margin-top: 15px;
        width: 320px; 
        height: 385px;
}

.centercard {
        margin: auto;
        margin-top: 20px;
}

