footer {
        text-align: center;
        color: #FFFFFF80;
        background-color: #343A40;
        padding: 20px;
        margin-bottom: -30px;
    }
.center {
        text-align:center;
}

.text   {
         font-size: 25px;
}

.color {
         background-color: #b8cde2;
}

.contactpic {
        height: 180px;
}

.card-row {
        display:flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;


}